*{
    margin: 0px;
    padding: 0px;
}
#navbar ul{
    list-style-type: none;
}
#navbar li a{
    display: block;
    color: #000;
    padding: 8px 0px 8px 8px;
    text-decoration: none;
} 
#neteasediv,
#xpdiv,
#bapplediv,
#magiskdiv,
#kmspicodiv{
    width: 95%;
    height: auto;
}
#end{
    font-size: 12px;
    color: darkgray;
    text-align: center;
}
