/*desktop.css*/

/*文字输入框*/
#DataInput{
	margin: 1px;
	width: 60%;
	height: 90px;
}

#IOArea{
	flex-direction: row;
}

#KeyArea{
	flex-direction: column;
}

#Run,#InputReset,#RepeatReset{
	margin: 1px;
	width: 200px;
	height: 30px;
}

/*数据区域*/
#DataArea{
	height: 800px;	/*高度 800px*/
}


/*原始姓名数据*/
#StdNameArea{
}

