/*mobile.css*/

/*文字输入框*/
#DataInput{
	margin: 1px;
	width: 100%;
}

#IOArea{
	flex-direction: column;
}

#KeyArea{
	flex-direction: row;
}

#Run,#InputReset,#RepeatReset{
	margin: 1px;
	width: 33%;
}

/*数据区域*/
#DataArea{
	height: 1000px;	/*高度 900px*/
}
